.text-size-17px{
    font-size: 17px;
}

.text-size-30px{
    font-size: 30px;
}

.b-r-6px{
    border-radius: 6px;
}

.color-666{
    color: #666;
}

.color-white{
    color: white;
}

.text-align{
    text-align: center;
}

